@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");



.main-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.main-wrapper .explore{
  font-size: 50px;
  color: rgba(0,0,0,0.5);
  font-family: 'Montserrat';
}
.main-wrapper .title{
  font-size: 80px;
  font-family: 'Gilroy-medium';
  letter-spacing: 1px;
  text-align: center;
  font-weight: 900;
}


.buttons{
  display: flex;
  gap: 30px;
}

.resume-btn button{
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  background-color: rgb(23, 27, 34);
  font-size: 40px;
  font-family: "Gilroy-light";
  border-radius: 20px;
  padding: 20px 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;


}

.resume-btn button:hover, .assignment-btn button:hover{
  box-shadow: none;
}
.assignment-btn button{
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  background-color: rgb(40, 98, 206);
  font-size: 40px;
  font-family: "Gilroy-light";
  border-radius: 20px;
  padding: 20px 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.dialog-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

.modal-header-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: white;
  height: 700px;
  width: 70vw;
  border-radius: 15px;
  /* padding: 15px; */
  overflow: scroll;
  padding: 10px 0;
}

.table-header {
  background-color: rgba(0, 0, 0, 0.1);
  /* font-family: "Poppins"; */
  font-weight: 900;
}

.open-modal {
  font-size: 40px;
  font-family: "Gilroy-semibold";
  border-radius: 20px;
color: white;
  padding: 30px 30px;
  background-color: rgb(197, 41, 41);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.open-modal:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-body {
  padding-top: 10px;
}

.modal-header {
  background-color: white;
  padding: 1px 40px;
  display: flex;
  width: 70vw;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
  z-index: 99999;
  font-family: "Gilroy-bold";
  letter-spacing: 0.5px;
  font-weight: 900;
}

.modal-title {
  font-size: 20px;
}

.table {
  width: max-content;
  position: relative;
}

table {
  /* height: 500px; */
  width: 70vw;
  font-weight: 300;
  /* overflow: scroll; */
}

td,
th {
  /* border: 1px solid #dddddd; */
  text-align: left;
  padding: 10px 20px;
  font-family: 'Gilroy-bold';

}

td {
  font-family: "Gilroy-regular";
  font-size: 19px;
}
/* 
tr:nth-child(even) {
  position: relative;

  background-color: #dddddd;
} */

.page_no {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 20px;
}

.page_numbers {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
}

.page_no .number {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 5px 10px;
}

.page_no .open.number {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 5px 10px;
  background-color: rgb(197, 41, 41);

  color: white;
}

.prev,
.next {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 10px;
  color: black;
}

.pagination_numbers {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 30px;
  bottom: 0;
  position: fixed;
  background-color: white;
  padding: 30px;
  width: 70vw;
  font-size: 20px;
  font-weight: 100;
  font-family: "Gilroy-light";
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

select {
  border: 1px solid black;
  border-radius: 10px;
  padding: 2px 5px;
}

.modal::-webkit-scrollbar {
  display: none;
}

.reportName {
  padding: 0;
  margin: 0;
}
.downloadTime {
  font-size: 20px;
  color: gray;
}

.download-icon {
  display: flex;
  align-items: center;
  /* align-items: center; */
  /* justify-content: center; */
}











@font-face {
  font-family: "Gilroy-ultralight";
  src: url("../Fonts/Gilroy-UltraLight.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-ultralight-italic";
  src: url("../Fonts/Gilroy-UltraLightItalic.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: "Gilroy-thin";
  src: url("../Fonts/Gilroy-Thin.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-thin-italic";
  src: url("../Fonts/Gilroy-ThinItalic.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-semibold";
  src: url("../Fonts/Gilroy-SemiBold.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-semibold-italic";
  src: url("../Fonts/Gilroy-SemiBoldItalic.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-regular";
  src: url("../Fonts/Gilroy-Regular.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-regular-italic";
  src: url("../Fonts/Gilroy-RegularItalic.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-medium";
  src: url("../Fonts/Gilroy-Medium.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-medium-italic";
  src: url("../Fonts/Gilroy-MediumItalic.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-light";
  src: url("../Fonts/Gilroy-Light.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-light-italic";
  src: url("../Fonts/Gilroy-LightItalic.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-heavy";
  src: url("../Fonts/Gilroy-Heavy.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-heavy-italic";
  src: url("../Fonts/Gilroy-HeavyItalic.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Gilroy-extrabold";
  src: url("../Fonts/Gilroy-ExtraBold.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-extrabold-italic";
  src: url("../Fonts/Gilroy-ExtraBoldItalic.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Gilroy-bold";
  src: url("../Fonts//Gilroy-Bold.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-bold-italic";
  src: url("../Fonts/Gilroy-BoldItalic.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Gilroy-black";
  src: url("../Fonts/Gilroy-Black.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-black-italic";
  src: url("../Fonts/Gilroy-BlackItalic.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
